<ul class="nav nav-pills nav-stacked">
                <li class="dropdown-header">Sidebar</li>
                <li class="active"><a>Link</a></li>
                <li class="dropdown-header">Sidebar</li>
                <li><a>Link</a></li>
                <li><a>Link</a></li>
                <li class="dropdown-header">Sidebar</li>
                <li><a>Link</a></li>
            </ul>